### 1. Importing packages

In [24]:
import pandas as pd
import numpy as np

### Reading data from CSV

In [25]:
df1 = pd.read_csv('fraud1.csv')
df2 = pd.read_csv('fraud2.csv')

df = pd.concat([df1, df2], axis=0)

### 3. Explanitory data analysis

In [26]:
df.head(10)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,303314,13/10/2020 15:20,4.040100e+18,"fraud_O'Reilly, Mohr and Purdy",home,73.87,Jeffrey,Lewis,M,24255 Bryan Square,...,48.3396,-102.2400,229,Administrator,20/03/1983,9a8814bcec9b307013104e228d5db947,1381677631,48.255785,-101.922094,0
1,303315,13/10/2020 15:20,6.759460e+11,fraud_Little Ltd,kids_pets,33.58,Ellen,Smith,F,285 George Lake,...,40.7687,-80.3592,28425,Podiatrist,09/06/2000,079f264af629e4b9a0182a76cc6b15e4,1381677638,41.518135,-80.197989,0
2,303316,13/10/2020 15:21,3.590740e+15,"fraud_Witting, Beer and Ernser",home,81.54,Kimberly,Gonzalez,F,72966 Shannon Pass Apt. 391,...,34.5091,-92.4828,4074,"Scientist, audiological",20/12/1975,cdb416d7083cce6f33a73d9762a40565,1381677681,35.131969,-93.427484,0
3,303317,13/10/2020 15:21,3.560730e+15,fraud_Botsford PLC,home,2.11,Brooke,Smith,F,63542 Luna Brook Apt. 012,...,31.8599,-102.7413,23,Cytogeneticist,15/09/1969,5805fe539d3c922eabd6154f2c6ecc13,1381677692,32.478239,-103.531981,0
4,303318,13/10/2020 15:22,3.598220e+15,fraud_Feil-Morar,health_fitness,108.87,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",21/10/1970,1ef42a2020fb9c04150276c11e54c11c,1381677731,41.611123,-73.144977,0
5,303319,13/10/2020 15:22,4.783230e+12,fraud_Botsford and Sons,home,49.18,Jessica,Garcia,F,13108 Jennifer Passage,...,38.5957,-99.5540,320,Film/video editor,22/04/1961,5748ce2b36bd110fa64b9f00d37d8582,1381677761,38.859725,-99.899165,0
6,303320,13/10/2020 15:23,2.254800e+15,fraud_Gaylord-Powlowski,home,23.57,Barbara,Nelson,F,7337 Browning Falls Suite 027,...,30.9460,-83.2474,94325,Educational psychologist,08/09/1987,afd29eea2911771eb4b02936bdd420d8,1381677783,31.687506,-83.318579,0
7,303321,13/10/2020 15:24,3.599240e+15,"fraud_Runte, Green and Emard",health_fitness,17.54,Jessica,Smith,F,06808 Ryan Valleys,...,36.8421,-85.5396,341,Insurance risk surveyor,19/11/1932,c4ba006087c0d1344e1bb50a22ca544f,1381677857,37.262278,-85.324015,0
8,303322,13/10/2020 15:24,3.725090e+14,fraud_Daugherty LLC,kids_pets,21.47,Kristen,Hanson,F,26544 Andrea Glen,...,42.9147,-83.4845,6951,Learning disability nurse,18/06/1985,5ef1b9a42d8f43283b719ec011a760e4,1381677861,43.798307,-83.859396,0
9,303323,13/10/2020 15:24,4.839620e+15,"fraud_Weber, Thiel and Hammes",kids_pets,13.08,Phillip,Robertson,M,85344 Smith Gateway Apt. 280,...,39.0130,-86.5457,76,Social researcher,06/05/1955,90e4d80eaac22700fbad7f31c6896d26,1381677873,38.537302,-86.666665,0

In [27]:
df = df.drop('Unnamed: 0', axis='columns')

In [28]:
df.isna().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [29]:
df.isnull().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 555719 entries, 0 to 303313
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  555719 non-null  object
 1   cc_num                 555719 non-null  float64
 2   merchant               555719 non-null  object
 3   category               555719 non-null  object
 4   amt                    555719 non-null  float64
 5   first                  555719 non-null  object
 6   last                   555719 non-null  object
 7   gender                 555719 non-null  object
 8   street                 555719 non-null  object
 9   city                   555719 non-null  object
 10  state                  555719 non-null  object
 11  zip                    555719 non-null  int64
 12  lat                    555719 non-null  float64
 13  long                   555719 non-null  float64
 14  city_pop               555719 non-null  int64
 15  job                    555719 non-null  object
 16  dob                    555719 non-null  object
 17  trans_num              555719 non-null  object
 18  unix_time              555719 non-null  int64
 19  merch_lat              555719 non-null  float64
 20  merch_long             555719 non-null  float64
 21  is_fraud               555719 non-null  int64
dtypes: float64(6), int64(4), object(12)
memory usage: 97.5+ MB

In [31]:
df['is_fraud'].value_counts()

is_fraud
0    553574
1      2145
Name: count, dtype: int64

In [32]:
legit = df[df.is_fraud == 0]
fraud = df[df.is_fraud == 1]

In [33]:
legit_sample = legit.sample(n=2145)

In [34]:
merged_card_data = pd.concat([legit_sample, fraud], axis=0)
merged_card_data

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
97028,25/07/2020 11:11,2.131610e+14,fraud_Rodriguez Group,gas_transport,91.75,Catherine,Weber,F,74890 Rodriguez Springs Apt. 540,West Henrietta,...,43.0397,-77.6871,10256,"Teacher, primary school",24/06/1968,c0e0cb7771d2eb2b17d9aadd5443aadb,1374750702,43.430410,-77.891348,0
78533,18/07/2020 23:50,3.575790e+15,"fraud_Bahringer, Bergnaum and Quitzon",home,8.67,Lindsay,Wilson,F,7618 Gonzales Mission,Centerview,...,38.7897,-93.8702,2368,Electronics engineer,17/07/1989,82fbb5d23b9166354bfc8946f8ef229f,1374191448,39.171559,-94.143015,0
280506,04/10/2020 08:40,3.755340e+14,fraud_Bartoletti-Wunsch,gas_transport,65.37,Tyler,Garcia,M,408 Bradley Rest,Doe Hill,...,38.4207,-79.4629,99,Dance movement psychotherapist,28/03/1986,fd608f72556144a42fad50afc8ebe21b,1380876019,37.483108,-78.647533,0
265367,27/09/2020 16:20,2.131910e+14,fraud_Kuhn LLC,shopping_pos,1.89,Thomas,Sullivan,M,464 Newman Crossroad,Milwaukee,...,42.9676,-88.0434,817312,"Accountant, chartered public finance",18/03/2004,8daea37b534139f39c5bac7d35fb50e6,1380298846,42.153345,-88.481495,0
148587,11/08/2020 19:16,4.026220e+12,fraud_Dare-Marvin,entertainment,148.37,Debbie,Payne,F,204 Ashley Neck Apt. 169,Preston,...,41.5224,-71.9934,4720,Broadcast presenter,18/05/1977,567c7d1a73ac2807c6a8541d39e000f2,1376248613,42.196635,-71.938198,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301402,12/10/2020 22:41,5.456710e+15,fraud_Kirlin and Sons,personal_care,51.86,Pamela,Matthews,F,36659 Smith Club Apt. 080,Llano,...,36.1486,-105.6648,247,Architectural technologist,24/10/1961,1189ac7889edcffbdaf1da0f44056d73,1381617712,35.672329,-106.219095,1
301528,12/10/2020 23:28,3.853050e+13,fraud_Torphy-Goyette,shopping_pos,1030.78,Laura,Johns,F,95835 Garcia Rue,Arcadia,...,34.9572,-81.9916,530,Animal technologist,14/05/1989,1faa1c90ecf2f5419c4f838fc420139d,1381620495,34.730612,-82.966095,1
301600,12/10/2020 23:57,3.853050e+13,fraud_Romaguera Ltd,health_fitness,19.11,Laura,Johns,F,95835 Garcia Rue,Arcadia,...,34.9572,-81.9916,530,Animal technologist,14/05/1989,3c0c836563618c8a40857d8d714cabd3,1381622278,35.052178,-81.245327,1
301866,13/10/2020 02:57,4.129770e+15,fraud_Bednar Group,misc_net,898.83,Cheryl,Ballard,F,248 James Squares Apt. 838,Halstad,...,47.3551,-96.7980,771,"Scientist, audiological",14/06/1972,2bf5044c1b44ba912cd3700755b4eac2,1381633026,48.192149,-96.998591,1
301881,13/10/2020 03:07,4.129770e+15,fraud_Flatley Group,misc_pos,751.63,Cheryl,Ballard,F,248 James Squares Apt. 838,Halstad,...,47.3551,-96.7980,771,"Scientist, audiological",14/06/1972,69fd58dc601de4598d514848395463b9,1381633626,46.961592,-97.504919,1

In [35]:
merged_card_data['is_fraud'].value_counts()

is_fraud
0    2145
1    2145
Name: count, dtype: int64

In [36]:
merged_card_data['gender'].value_counts()

gender
F    2362
M    1928
Name: count, dtype: int64

In [37]:
merged_card_data.drop(columns = ['trans_date_trans_time', 'first', 'last', 'street', 'city_pop', 'unix_time', 'trans_num'], axis = 1, inplace = True)

In [38]:
merged_card_data.shape

(4290, 15)

In [39]:
merged_card_data

,cc_num,merchant,category,amt,gender,city,state,zip,lat,long,job,dob,merch_lat,merch_long,is_fraud
97028,2.131610e+14,fraud_Rodriguez Group,gas_transport,91.75,F,West Henrietta,NY,14586,43.0397,-77.6871,"Teacher, primary school",24/06/1968,43.430410,-77.891348,0
78533,3.575790e+15,"fraud_Bahringer, Bergnaum and Quitzon",home,8.67,F,Centerview,MO,64019,38.7897,-93.8702,Electronics engineer,17/07/1989,39.171559,-94.143015,0
280506,3.755340e+14,fraud_Bartoletti-Wunsch,gas_transport,65.37,M,Doe Hill,VA,24433,38.4207,-79.4629,Dance movement psychotherapist,28/03/1986,37.483108,-78.647533,0
265367,2.131910e+14,fraud_Kuhn LLC,shopping_pos,1.89,M,Milwaukee,WI,53228,42.9676,-88.0434,"Accountant, chartered public finance",18/03/2004,42.153345,-88.481495,0
148587,4.026220e+12,fraud_Dare-Marvin,entertainment,148.37,F,Preston,CT,6365,41.5224,-71.9934,Broadcast presenter,18/05/1977,42.196635,-71.938198,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301402,5.456710e+15,fraud_Kirlin and Sons,personal_care,51.86,F,Llano,NM,87543,36.1486,-105.6648,Architectural technologist,24/10/1961,35.672329,-106.219095,1
301528,3.853050e+13,fraud_Torphy-Goyette,shopping_pos,1030.78,F,Arcadia,SC,29320,34.9572,-81.9916,Animal technologist,14/05/1989,34.730612,-82.966095,1
301600,3.853050e+13,fraud_Romaguera Ltd,health_fitness,19.11,F,Arcadia,SC,29320,34.9572,-81.9916,Animal technologist,14/05/1989,35.052178,-81.245327,1
301866,4.129770e+15,fraud_Bednar Group,misc_net,898.83,F,Halstad,MN,56548,47.3551,-96.7980,"Scientist, audiological",14/06/1972,48.192149,-96.998591,1
301881,4.129770e+15,fraud_Flatley Group,misc_pos,751.63,F,Halstad,MN,56548,47.3551,-96.7980,"Scientist, audiological",14/06/1972,46.961592,-97.504919,1

### 4. Feature Engineering

In [40]:
merged_card_data['location'] = merged_card_data['city'] + ', ' + merged_card_data['state'] + ', ' + merged_card_data['zip'].astype(str)
merged_card_data = merged_card_data.drop(['city', 'state', 'zip'], axis=1)
merged_card_data

,cc_num,merchant,category,amt,gender,lat,long,job,dob,merch_lat,merch_long,is_fraud,location
97028,2.131610e+14,fraud_Rodriguez Group,gas_transport,91.75,F,43.0397,-77.6871,"Teacher, primary school",24/06/1968,43.430410,-77.891348,0,"West Henrietta, NY, 14586"
78533,3.575790e+15,"fraud_Bahringer, Bergnaum and Quitzon",home,8.67,F,38.7897,-93.8702,Electronics engineer,17/07/1989,39.171559,-94.143015,0,"Centerview, MO, 64019"
280506,3.755340e+14,fraud_Bartoletti-Wunsch,gas_transport,65.37,M,38.4207,-79.4629,Dance movement psychotherapist,28/03/1986,37.483108,-78.647533,0,"Doe Hill, VA, 24433"
265367,2.131910e+14,fraud_Kuhn LLC,shopping_pos,1.89,M,42.9676,-88.0434,"Accountant, chartered public finance",18/03/2004,42.153345,-88.481495,0,"Milwaukee, WI, 53228"
148587,4.026220e+12,fraud_Dare-Marvin,entertainment,148.37,F,41.5224,-71.9934,Broadcast presenter,18/05/1977,42.196635,-71.938198,0,"Preston, CT, 6365"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301402,5.456710e+15,fraud_Kirlin and Sons,personal_care,51.86,F,36.1486,-105.6648,Architectural technologist,24/10/1961,35.672329,-106.219095,1,"Llano, NM, 87543"
301528,3.853050e+13,fraud_Torphy-Goyette,shopping_pos,1030.78,F,34.9572,-81.9916,Animal technologist,14/05/1989,34.730612,-82.966095,1,"Arcadia, SC, 29320"
301600,3.853050e+13,fraud_Romaguera Ltd,health_fitness,19.11,F,34.9572,-81.9916,Animal technologist,14/05/1989,35.052178,-81.245327,1,"Arcadia, SC, 29320"
301866,4.129770e+15,fraud_Bednar Group,misc_net,898.83,F,47.3551,-96.7980,"Scientist, audiological",14/06/1972,48.192149,-96.998591,1,"Halstad, MN, 56548"
301881,4.129770e+15,fraud_Flatley Group,misc_pos,751.63,F,47.3551,-96.7980,"Scientist, audiological",14/06/1972,46.961592,-97.504919,1,"Halstad, MN, 56548"

In [41]:
merged_card_data['lat_long'] = merged_card_data['lat'].astype(str) + ', ' + merged_card_data['long'].astype(str)
merged_card_data = merged_card_data.drop(['lat', 'long'], axis=1)
merged_card_data

,cc_num,merchant,category,amt,gender,job,dob,merch_lat,merch_long,is_fraud,location,lat_long
97028,2.131610e+14,fraud_Rodriguez Group,gas_transport,91.75,F,"Teacher, primary school",24/06/1968,43.430410,-77.891348,0,"West Henrietta, NY, 14586","43.0397, -77.6871"
78533,3.575790e+15,"fraud_Bahringer, Bergnaum and Quitzon",home,8.67,F,Electronics engineer,17/07/1989,39.171559,-94.143015,0,"Centerview, MO, 64019","38.7897, -93.8702"
280506,3.755340e+14,fraud_Bartoletti-Wunsch,gas_transport,65.37,M,Dance movement psychotherapist,28/03/1986,37.483108,-78.647533,0,"Doe Hill, VA, 24433","38.4207, -79.4629"
265367,2.131910e+14,fraud_Kuhn LLC,shopping_pos,1.89,M,"Accountant, chartered public finance",18/03/2004,42.153345,-88.481495,0,"Milwaukee, WI, 53228","42.9676, -88.0434"
148587,4.026220e+12,fraud_Dare-Marvin,entertainment,148.37,F,Broadcast presenter,18/05/1977,42.196635,-71.938198,0,"Preston, CT, 6365","41.5224, -71.9934"
...,...,...,...,...,...,...,...,...,...,...,...,...
301402,5.456710e+15,fraud_Kirlin and Sons,personal_care,51.86,F,Architectural technologist,24/10/1961,35.672329,-106.219095,1,"Llano, NM, 87543","36.1486, -105.6648"
301528,3.853050e+13,fraud_Torphy-Goyette,shopping_pos,1030.78,F,Animal technologist,14/05/1989,34.730612,-82.966095,1,"Arcadia, SC, 29320","34.9572, -81.9916"
301600,3.853050e+13,fraud_Romaguera Ltd,health_fitness,19.11,F,Animal technologist,14/05/1989,35.052178,-81.245327,1,"Arcadia, SC, 29320","34.9572, -81.9916"
301866,4.129770e+15,fraud_Bednar Group,misc_net,898.83,F,"Scientist, audiological",14/06/1972,48.192149,-96.998591,1,"Halstad, MN, 56548","47.3551, -96.798"
301881,4.129770e+15,fraud_Flatley Group,misc_pos,751.63,F,"Scientist, audiological",14/06/1972,46.961592,-97.504919,1,"Halstad, MN, 56548","47.3551, -96.798"

In [42]:
merged_card_data['merchant_lat_long'] = merged_card_data['merch_lat'].astype(str) + ', ' + merged_card_data['merch_long'].astype(str)
merged_card_data = merged_card_data.drop(['merch_lat', 'merch_long'], axis=1)
merged_card_data

,cc_num,merchant,category,amt,gender,job,dob,is_fraud,location,lat_long,merchant_lat_long
97028,2.131610e+14,fraud_Rodriguez Group,gas_transport,91.75,F,"Teacher, primary school",24/06/1968,0,"West Henrietta, NY, 14586","43.0397, -77.6871","43.43041, -77.891348"
78533,3.575790e+15,"fraud_Bahringer, Bergnaum and Quitzon",home,8.67,F,Electronics engineer,17/07/1989,0,"Centerview, MO, 64019","38.7897, -93.8702","39.171559, -94.143015"
280506,3.755340e+14,fraud_Bartoletti-Wunsch,gas_transport,65.37,M,Dance movement psychotherapist,28/03/1986,0,"Doe Hill, VA, 24433","38.4207, -79.4629","37.483108, -78.647533"
265367,2.131910e+14,fraud_Kuhn LLC,shopping_pos,1.89,M,"Accountant, chartered public finance",18/03/2004,0,"Milwaukee, WI, 53228","42.9676, -88.0434","42.153345, -88.481495"
148587,4.026220e+12,fraud_Dare-Marvin,entertainment,148.37,F,Broadcast presenter,18/05/1977,0,"Preston, CT, 6365","41.5224, -71.9934","42.196635, -71.938198"
...,...,...,...,...,...,...,...,...,...,...,...
301402,5.456710e+15,fraud_Kirlin and Sons,personal_care,51.86,F,Architectural technologist,24/10/1961,1,"Llano, NM, 87543","36.1486, -105.6648","35.672329, -106.219095"
301528,3.853050e+13,fraud_Torphy-Goyette,shopping_pos,1030.78,F,Animal technologist,14/05/1989,1,"Arcadia, SC, 29320","34.9572, -81.9916","34.730612, -82.966095"
301600,3.853050e+13,fraud_Romaguera Ltd,health_fitness,19.11,F,Animal technologist,14/05/1989,1,"Arcadia, SC, 29320","34.9572, -81.9916","35.052178, -81.245327"
301866,4.129770e+15,fraud_Bednar Group,misc_net,898.83,F,"Scientist, audiological",14/06/1972,1,"Halstad, MN, 56548","47.3551, -96.798","48.192149, -96.998591"
301881,4.129770e+15,fraud_Flatley Group,misc_pos,751.63,F,"Scientist, audiological",14/06/1972,1,"Halstad, MN, 56548","47.3551, -96.798","46.961592, -97.504919"

### 5. Label Encoding

In [43]:
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

merged_card_data['cc_num'] = encoder.fit_transform(merged_card_data['cc_num'])
merged_card_data['merchant'] = encoder.fit_transform(merged_card_data['merchant'])
merged_card_data['category'] = encoder.fit_transform(merged_card_data['category'])
merged_card_data['gender'] = encoder.fit_transform(merged_card_data['gender'])
merged_card_data['job'] = encoder.fit_transform(merged_card_data['job'])
merged_card_data['dob'] = encoder.fit_transform(merged_card_data['dob'])
merged_card_data['location'] = encoder.fit_transform(merged_card_data['location'])
merged_card_data['lat_long'] = encoder.fit_transform(merged_card_data['lat_long'])
merged_card_data['merchant_lat_long'] = encoder.fit_transform(merged_card_data['merchant_lat_long'])

merged_card_data

,cc_num,merchant,category,amt,gender,job,dob,is_fraud,location,lat_long,merchant_lat_long
97028,236,512,2,91.75,0,412,601,0,765,666,3606
78533,469,15,6,8.67,0,133,432,0,124,339,1983
280506,304,24,2,65.37,1,104,699,0,197,320,1522
265367,245,344,12,1.89,1,2,448,0,460,657,3268
148587,68,123,0,148.37,0,45,451,0,587,567,3280
...,...,...,...,...,...,...,...,...,...,...,...
301402,650,314,10,51.86,0,27,610,1,405,240,1206
301528,191,613,12,1030.78,0,21,344,1,24,196,1017
301600,191,516,5,19.11,0,21,344,1,24,196,1085
301866,527,36,8,898.83,0,371,348,1,287,774,4205
301881,527,174,9,751.63,0,371,348,1,287,774,4114

### 6. Machine Learning

In [45]:
from sklearn.model_selection import train_test_split

X = merged_card_data.drop(columns = 'is_fraud', axis = 1)
y = merged_card_data['is_fraud']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=.2)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(3432, 10) (858, 10) (3432,) (858,)

### Logistic Regression

In [67]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV, RandomizedSearchCV

logistic_param_grid = {
    'penalty': ['l1', 'l2'],
    'C': np.logspace(-6, 6, 13),
    'solver': ['liblinear', 'saga']
}

# RandomizedSearchCV for model
logistic_random_search = RandomizedSearchCV(LogisticRegression(), logistic_param_grid, n_iter=100, cv=5, n_jobs=-1)

# Fit model using RandomizedSearchCV
logistic_random_search.fit(X_train_scaled, y_train)

print("Logistic Regression Best Parameters (RandomizedSearchCV):", logistic_random_search.best_params_)

# GridSearchCV for model using the full hyperparameter grid
logistic_grid_search = GridSearchCV(LogisticRegression(), param_grid=logistic_param_grid, cv=5, n_jobs=-1)

# Fit model using GridSearchCV
logistic_grid_search.fit(X_train_scaled, y_train)

print("Logistic Regression Best Parameters (GridSearchCV):", logistic_grid_search.best_params_)

logistic_cv_score = logistic_grid_search.best_score_
print(f"Logistic Regression Best Score: {round(logistic_cv_score * 100, 2)}")

C:\Users\milanszilveszter\.conda\envs\ML_Projectwork\lib\site-packages\sklearn\model_selection\_search.py:307: UserWarning: The total space of parameters 52 is smaller than n_iter=100. Running 52 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Logistic Regression Best Parameters (RandomizedSearchCV): {'solver': 'saga', 'penalty': 'l1', 'C': 0.01}
Logistic Regression Best Parameters (GridSearchCV): {'C': 0.01, 'penalty': 'l1', 'solver': 'saga'}
Logistic Regression Best Score: 85.08
Logistic Regression Best Score: 85.08

### SVM

In [69]:
from sklearn import svm

svm_param_grid = {
    'C': [0.1, 1, 10, 100],
    'gamma': [0.01, 0.1, 1, 'scale', 'auto'],
    'kernel': ['linear', 'rbf', 'poly', 'sigmoid']
}

svm_random_search = RandomizedSearchCV(svm.SVC(), svm_param_grid, n_iter=100, cv=5, n_jobs=-1)
svm_random_search.fit(X_train_scaled, y_train)
print("SVM Best Parameters (RandomizedSearchCV):", svm_random_search.best_params_)

#svm_grid_search = GridSearchCV(svm.SVC(), param_grid=svm_param_grid, cv=5, n_jobs=-1)
#svm_grid_search.fit(X_train_scaled, y_train)
#print("SVM Best Parameters (GridSearchCV):", svm_grid_search.best_params_)

svm_cv_score = svm_random_search.best_score_
print(f"SVM Best Score: {round(svm_cv_score * 100, 2)}")

# Executed at 2024.04.23 15:50:10 in 1h 27m 51s
#SVM Best Parameters (RandomizedSearchCV): {'kernel': 'rbf', 'gamma': 0.01, 'C': 1}
#SVM Best Score: 85.05

C:\Users\milanszilveszter\.conda\envs\ML_Projectwork\lib\site-packages\sklearn\model_selection\_search.py:307: UserWarning: The total space of parameters 80 is smaller than n_iter=100. Running 80 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

SVM Best Parameters (RandomizedSearchCV): {'kernel': 'rbf', 'gamma': 0.01, 'C': 1}
SVM Best Score: 85.05