### 1. Importing packages

In [2]:
import pandas as pd
import numpy as np

### Reading data from CSV

In [3]:
df1 = pd.read_csv('fraud1.csv')
df2 = pd.read_csv('fraud2.csv')

df = pd.concat([df1, df2], axis=0)

### 3. Explanitory data analysis

In [4]:
df.head(10)

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,303314,13/10/2020 15:20,4.040100e+18,"fraud_O'Reilly, Mohr and Purdy",home,73.87,Jeffrey,Lewis,M,24255 Bryan Square,...,48.3396,-102.2400,229,Administrator,20/03/1983,9a8814bcec9b307013104e228d5db947,1381677631,48.255785,-101.922094,0
1,303315,13/10/2020 15:20,6.759460e+11,fraud_Little Ltd,kids_pets,33.58,Ellen,Smith,F,285 George Lake,...,40.7687,-80.3592,28425,Podiatrist,09/06/2000,079f264af629e4b9a0182a76cc6b15e4,1381677638,41.518135,-80.197989,0
2,303316,13/10/2020 15:21,3.590740e+15,"fraud_Witting, Beer and Ernser",home,81.54,Kimberly,Gonzalez,F,72966 Shannon Pass Apt. 391,...,34.5091,-92.4828,4074,"Scientist, audiological",20/12/1975,cdb416d7083cce6f33a73d9762a40565,1381677681,35.131969,-93.427484,0
3,303317,13/10/2020 15:21,3.560730e+15,fraud_Botsford PLC,home,2.11,Brooke,Smith,F,63542 Luna Brook Apt. 012,...,31.8599,-102.7413,23,Cytogeneticist,15/09/1969,5805fe539d3c922eabd6154f2c6ecc13,1381677692,32.478239,-103.531981,0
4,303318,13/10/2020 15:22,3.598220e+15,fraud_Feil-Morar,health_fitness,108.87,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",21/10/1970,1ef42a2020fb9c04150276c11e54c11c,1381677731,41.611123,-73.144977,0
5,303319,13/10/2020 15:22,4.783230e+12,fraud_Botsford and Sons,home,49.18,Jessica,Garcia,F,13108 Jennifer Passage,...,38.5957,-99.5540,320,Film/video editor,22/04/1961,5748ce2b36bd110fa64b9f00d37d8582,1381677761,38.859725,-99.899165,0
6,303320,13/10/2020 15:23,2.254800e+15,fraud_Gaylord-Powlowski,home,23.57,Barbara,Nelson,F,7337 Browning Falls Suite 027,...,30.9460,-83.2474,94325,Educational psychologist,08/09/1987,afd29eea2911771eb4b02936bdd420d8,1381677783,31.687506,-83.318579,0
7,303321,13/10/2020 15:24,3.599240e+15,"fraud_Runte, Green and Emard",health_fitness,17.54,Jessica,Smith,F,06808 Ryan Valleys,...,36.8421,-85.5396,341,Insurance risk surveyor,19/11/1932,c4ba006087c0d1344e1bb50a22ca544f,1381677857,37.262278,-85.324015,0
8,303322,13/10/2020 15:24,3.725090e+14,fraud_Daugherty LLC,kids_pets,21.47,Kristen,Hanson,F,26544 Andrea Glen,...,42.9147,-83.4845,6951,Learning disability nurse,18/06/1985,5ef1b9a42d8f43283b719ec011a760e4,1381677861,43.798307,-83.859396,0
9,303323,13/10/2020 15:24,4.839620e+15,"fraud_Weber, Thiel and Hammes",kids_pets,13.08,Phillip,Robertson,M,85344 Smith Gateway Apt. 280,...,39.0130,-86.5457,76,Social researcher,06/05/1955,90e4d80eaac22700fbad7f31c6896d26,1381677873,38.537302,-86.666665,0

In [6]:
df = df.drop('Unnamed: 0', axis=1)

In [7]:
df.isna().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [8]:
df.isnull().sum()

trans_date_trans_time    0
cc_num                   0
merchant                 0
category                 0
amt                      0
first                    0
last                     0
gender                   0
street                   0
city                     0
state                    0
zip                      0
lat                      0
long                     0
city_pop                 0
job                      0
dob                      0
trans_num                0
unix_time                0
merch_lat                0
merch_long               0
is_fraud                 0
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 555719 entries, 0 to 303313
Data columns (total 22 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   trans_date_trans_time  555719 non-null  object
 1   cc_num                 555719 non-null  float64
 2   merchant               555719 non-null  object
 3   category               555719 non-null  object
 4   amt                    555719 non-null  float64
 5   first                  555719 non-null  object
 6   last                   555719 non-null  object
 7   gender                 555719 non-null  object
 8   street                 555719 non-null  object
 9   city                   555719 non-null  object
 10  state                  555719 non-null  object
 11  zip                    555719 non-null  int64
 12  lat                    555719 non-null  float64
 13  long                   555719 non-null  float64
 14  city_pop               555719 non-null  int64
 15  job                    555719 non-null  object
 16  dob                    555719 non-null  object
 17  trans_num              555719 non-null  object
 18  unix_time              555719 non-null  int64
 19  merch_lat              555719 non-null  float64
 20  merch_long             555719 non-null  float64
 21  is_fraud               555719 non-null  int64
dtypes: float64(6), int64(4), object(12)
memory usage: 97.5+ MB

In [10]:
df['is_fraud'].value_counts()

is_fraud
0    553574
1      2145
Name: count, dtype: int64

In [20]:
legit = df[df.is_fraud == 0]
fraud = df[df.is_fraud == 1]

In [21]:
legit_sample = legit.sample(n=2145)

In [22]:
merged_card_data = pd.concat([legit_sample, fraud], axis=0)
merged_card_data

,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,city,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
54045,06/11/2020 22:14,3.024890e+13,fraud_Leffler-Goldner,personal_care,7.62,Michael,Rodriguez,M,172 Paula Inlet Apt. 650,Cross Plains,...,32.1482,-99.1872,1897,Chief Operating Officer,19/04/1953,026548f16f750d9036d901eab1e9b0f1,1383776084,31.910447,-99.266128,0
184963,16/12/2020 20:00,2.512310e+15,fraud_Bode-Rempel,kids_pets,71.57,John,Mccormick,M,79414 Clark Lakes Suite 966,Warren,...,42.5164,-82.9832,134056,"Producer, radio",08/10/1956,16c24980cc96dcc78736f2154b0ee466,1387224059,42.539658,-83.027475,0
139741,09/08/2020 12:56,2.288810e+15,"fraud_Weber, Thiel and Hammes",kids_pets,59.39,Barbara,Norman,F,6278 Stephanie Unions,New York City,...,40.8265,-73.9383,1577385,Herbalist,29/08/1981,378c8d3aeba8654dcd850582352bc3dc,1376053015,41.727911,-74.250244,0
6173,16/10/2020 20:45,4.900630e+12,fraud_Schaefer Ltd,kids_pets,110.21,Michael,Johnson,M,094 Owens Underpass,Norwalk,...,33.9056,-118.0818,105549,Firefighter,22/09/1973,64b8707a805a803e46c8f3ad5ddde732,1381956308,33.381859,-117.883768,0
62953,10/11/2020 07:20,3.040430e+13,fraud_VonRueden Group,grocery_net,38.00,Savannah,Lewis,F,537 Walker Freeway,North Tonawanda,...,43.0498,-78.8510,45100,Ambulance person,25/10/1993,2b0f1e140070d65faf0dd1f9141e4f56,1384068013,42.176651,-78.544658,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301402,12/10/2020 22:41,5.456710e+15,fraud_Kirlin and Sons,personal_care,51.86,Pamela,Matthews,F,36659 Smith Club Apt. 080,Llano,...,36.1486,-105.6648,247,Architectural technologist,24/10/1961,1189ac7889edcffbdaf1da0f44056d73,1381617712,35.672329,-106.219095,1
301528,12/10/2020 23:28,3.853050e+13,fraud_Torphy-Goyette,shopping_pos,1030.78,Laura,Johns,F,95835 Garcia Rue,Arcadia,...,34.9572,-81.9916,530,Animal technologist,14/05/1989,1faa1c90ecf2f5419c4f838fc420139d,1381620495,34.730612,-82.966095,1
301600,12/10/2020 23:57,3.853050e+13,fraud_Romaguera Ltd,health_fitness,19.11,Laura,Johns,F,95835 Garcia Rue,Arcadia,...,34.9572,-81.9916,530,Animal technologist,14/05/1989,3c0c836563618c8a40857d8d714cabd3,1381622278,35.052178,-81.245327,1
301866,13/10/2020 02:57,4.129770e+15,fraud_Bednar Group,misc_net,898.83,Cheryl,Ballard,F,248 James Squares Apt. 838,Halstad,...,47.3551,-96.7980,771,"Scientist, audiological",14/06/1972,2bf5044c1b44ba912cd3700755b4eac2,1381633026,48.192149,-96.998591,1
301881,13/10/2020 03:07,4.129770e+15,fraud_Flatley Group,misc_pos,751.63,Cheryl,Ballard,F,248 James Squares Apt. 838,Halstad,...,47.3551,-96.7980,771,"Scientist, audiological",14/06/1972,69fd58dc601de4598d514848395463b9,1381633626,46.961592,-97.504919,1

In [23]:
merged_card_data['is_fraud'].value_counts()

is_fraud
0    2145
1    2145
Name: count, dtype: int64

In [24]:
merged_card_data['gender'].value_counts()

gender
F    2345
M    1945
Name: count, dtype: int64

In [25]:
merged_card_data.drop(columns = ['trans_date_trans_time', 'first', 'last', 'street', 'city_pop', 'unix_time', 'trans_num'], axis = 1, inplace = True)

In [26]:
merged_card_data.shape

(4290, 15)

In [27]:
merged_card_data

,cc_num,merchant,category,amt,gender,city,state,zip,lat,long,job,dob,merch_lat,merch_long,is_fraud
54045,3.024890e+13,fraud_Leffler-Goldner,personal_care,7.62,M,Cross Plains,TX,76443,32.1482,-99.1872,Chief Operating Officer,19/04/1953,31.910447,-99.266128,0
184963,2.512310e+15,fraud_Bode-Rempel,kids_pets,71.57,M,Warren,MI,48088,42.5164,-82.9832,"Producer, radio",08/10/1956,42.539658,-83.027475,0
139741,2.288810e+15,"fraud_Weber, Thiel and Hammes",kids_pets,59.39,F,New York City,NY,10039,40.8265,-73.9383,Herbalist,29/08/1981,41.727911,-74.250244,0
6173,4.900630e+12,fraud_Schaefer Ltd,kids_pets,110.21,M,Norwalk,CA,90650,33.9056,-118.0818,Firefighter,22/09/1973,33.381859,-117.883768,0
62953,3.040430e+13,fraud_VonRueden Group,grocery_net,38.00,F,North Tonawanda,NY,14120,43.0498,-78.8510,Ambulance person,25/10/1993,42.176651,-78.544658,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301402,5.456710e+15,fraud_Kirlin and Sons,personal_care,51.86,F,Llano,NM,87543,36.1486,-105.6648,Architectural technologist,24/10/1961,35.672329,-106.219095,1
301528,3.853050e+13,fraud_Torphy-Goyette,shopping_pos,1030.78,F,Arcadia,SC,29320,34.9572,-81.9916,Animal technologist,14/05/1989,34.730612,-82.966095,1
301600,3.853050e+13,fraud_Romaguera Ltd,health_fitness,19.11,F,Arcadia,SC,29320,34.9572,-81.9916,Animal technologist,14/05/1989,35.052178,-81.245327,1
301866,4.129770e+15,fraud_Bednar Group,misc_net,898.83,F,Halstad,MN,56548,47.3551,-96.7980,"Scientist, audiological",14/06/1972,48.192149,-96.998591,1
301881,4.129770e+15,fraud_Flatley Group,misc_pos,751.63,F,Halstad,MN,56548,47.3551,-96.7980,"Scientist, audiological",14/06/1972,46.961592,-97.504919,1

### 4. Feature Engineering

In [28]:
merged_card_data['location'] = merged_card_data['city'] + ', ' + merged_card_data['state'] + ', ' + merged_card_data['zip'].astype(str)
merged_card_data = merged_card_data.drop(['city', 'state', 'zip'], axis=1)
merged_card_data

,cc_num,merchant,category,amt,gender,lat,long,job,dob,merch_lat,merch_long,is_fraud,location
54045,3.024890e+13,fraud_Leffler-Goldner,personal_care,7.62,M,32.1482,-99.1872,Chief Operating Officer,19/04/1953,31.910447,-99.266128,0,"Cross Plains, TX, 76443"
184963,2.512310e+15,fraud_Bode-Rempel,kids_pets,71.57,M,42.5164,-82.9832,"Producer, radio",08/10/1956,42.539658,-83.027475,0,"Warren, MI, 48088"
139741,2.288810e+15,"fraud_Weber, Thiel and Hammes",kids_pets,59.39,F,40.8265,-73.9383,Herbalist,29/08/1981,41.727911,-74.250244,0,"New York City, NY, 10039"
6173,4.900630e+12,fraud_Schaefer Ltd,kids_pets,110.21,M,33.9056,-118.0818,Firefighter,22/09/1973,33.381859,-117.883768,0,"Norwalk, CA, 90650"
62953,3.040430e+13,fraud_VonRueden Group,grocery_net,38.00,F,43.0498,-78.8510,Ambulance person,25/10/1993,42.176651,-78.544658,0,"North Tonawanda, NY, 14120"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
301402,5.456710e+15,fraud_Kirlin and Sons,personal_care,51.86,F,36.1486,-105.6648,Architectural technologist,24/10/1961,35.672329,-106.219095,1,"Llano, NM, 87543"
301528,3.853050e+13,fraud_Torphy-Goyette,shopping_pos,1030.78,F,34.9572,-81.9916,Animal technologist,14/05/1989,34.730612,-82.966095,1,"Arcadia, SC, 29320"
301600,3.853050e+13,fraud_Romaguera Ltd,health_fitness,19.11,F,34.9572,-81.9916,Animal technologist,14/05/1989,35.052178,-81.245327,1,"Arcadia, SC, 29320"
301866,4.129770e+15,fraud_Bednar Group,misc_net,898.83,F,47.3551,-96.7980,"Scientist, audiological",14/06/1972,48.192149,-96.998591,1,"Halstad, MN, 56548"
301881,4.129770e+15,fraud_Flatley Group,misc_pos,751.63,F,47.3551,-96.7980,"Scientist, audiological",14/06/1972,46.961592,-97.504919,1,"Halstad, MN, 56548"

In [29]:
merged_card_data['lat_long'] = merged_card_data['lat'].astype(str) + ', ' + merged_card_data['long'].astype(str)
merged_card_data = merged_card_data.drop(['lat', 'long'], axis=1)
merged_card_data

,cc_num,merchant,category,amt,gender,job,dob,merch_lat,merch_long,is_fraud,location,lat_long
54045,3.024890e+13,fraud_Leffler-Goldner,personal_care,7.62,M,Chief Operating Officer,19/04/1953,31.910447,-99.266128,0,"Cross Plains, TX, 76443","32.1482, -99.1872"
184963,2.512310e+15,fraud_Bode-Rempel,kids_pets,71.57,M,"Producer, radio",08/10/1956,42.539658,-83.027475,0,"Warren, MI, 48088","42.5164, -82.9832"
139741,2.288810e+15,"fraud_Weber, Thiel and Hammes",kids_pets,59.39,F,Herbalist,29/08/1981,41.727911,-74.250244,0,"New York City, NY, 10039","40.8265, -73.9383"
6173,4.900630e+12,fraud_Schaefer Ltd,kids_pets,110.21,M,Firefighter,22/09/1973,33.381859,-117.883768,0,"Norwalk, CA, 90650","33.9056, -118.0818"
62953,3.040430e+13,fraud_VonRueden Group,grocery_net,38.00,F,Ambulance person,25/10/1993,42.176651,-78.544658,0,"North Tonawanda, NY, 14120","43.0498, -78.851"
...,...,...,...,...,...,...,...,...,...,...,...,...
301402,5.456710e+15,fraud_Kirlin and Sons,personal_care,51.86,F,Architectural technologist,24/10/1961,35.672329,-106.219095,1,"Llano, NM, 87543","36.1486, -105.6648"
301528,3.853050e+13,fraud_Torphy-Goyette,shopping_pos,1030.78,F,Animal technologist,14/05/1989,34.730612,-82.966095,1,"Arcadia, SC, 29320","34.9572, -81.9916"
301600,3.853050e+13,fraud_Romaguera Ltd,health_fitness,19.11,F,Animal technologist,14/05/1989,35.052178,-81.245327,1,"Arcadia, SC, 29320","34.9572, -81.9916"
301866,4.129770e+15,fraud_Bednar Group,misc_net,898.83,F,"Scientist, audiological",14/06/1972,48.192149,-96.998591,1,"Halstad, MN, 56548","47.3551, -96.798"
301881,4.129770e+15,fraud_Flatley Group,misc_pos,751.63,F,"Scientist, audiological",14/06/1972,46.961592,-97.504919,1,"Halstad, MN, 56548","47.3551, -96.798"

In [30]:
merged_card_data['merchant_lat_long'] = merged_card_data['merch_lat'].astype(str) + ', ' + merged_card_data['merch_long'].astype(str)
merged_card_data = merged_card_data.drop(['merch_lat', 'merch_long'], axis=1)
merged_card_data

,cc_num,merchant,category,amt,gender,job,dob,is_fraud,location,lat_long,merchant_lat_long
54045,3.024890e+13,fraud_Leffler-Goldner,personal_care,7.62,M,Chief Operating Officer,19/04/1953,0,"Cross Plains, TX, 76443","32.1482, -99.1872","31.910447, -99.266128"
184963,2.512310e+15,fraud_Bode-Rempel,kids_pets,71.57,M,"Producer, radio",08/10/1956,0,"Warren, MI, 48088","42.5164, -82.9832","42.539658, -83.027475"
139741,2.288810e+15,"fraud_Weber, Thiel and Hammes",kids_pets,59.39,F,Herbalist,29/08/1981,0,"New York City, NY, 10039","40.8265, -73.9383","41.727911, -74.250244"
6173,4.900630e+12,fraud_Schaefer Ltd,kids_pets,110.21,M,Firefighter,22/09/1973,0,"Norwalk, CA, 90650","33.9056, -118.0818","33.381859, -117.883768"
62953,3.040430e+13,fraud_VonRueden Group,grocery_net,38.00,F,Ambulance person,25/10/1993,0,"North Tonawanda, NY, 14120","43.0498, -78.851","42.176651, -78.544658"
...,...,...,...,...,...,...,...,...,...,...,...
301402,5.456710e+15,fraud_Kirlin and Sons,personal_care,51.86,F,Architectural technologist,24/10/1961,1,"Llano, NM, 87543","36.1486, -105.6648","35.672329, -106.219095"
301528,3.853050e+13,fraud_Torphy-Goyette,shopping_pos,1030.78,F,Animal technologist,14/05/1989,1,"Arcadia, SC, 29320","34.9572, -81.9916","34.730612, -82.966095"
301600,3.853050e+13,fraud_Romaguera Ltd,health_fitness,19.11,F,Animal technologist,14/05/1989,1,"Arcadia, SC, 29320","34.9572, -81.9916","35.052178, -81.245327"
301866,4.129770e+15,fraud_Bednar Group,misc_net,898.83,F,"Scientist, audiological",14/06/1972,1,"Halstad, MN, 56548","47.3551, -96.798","48.192149, -96.998591"
301881,4.129770e+15,fraud_Flatley Group,misc_pos,751.63,F,"Scientist, audiological",14/06/1972,1,"Halstad, MN, 56548","47.3551, -96.798","46.961592, -97.504919"

### 5. Label Encoding

In [31]:
from sklearn.preprocessing import LabelEncoder

# encoder = LabelEncoder()

# merged_card_data['cc_num'] = encoder.fit_transform(merged_card_data['cc_num'])
# merged_card_data['merchant'] = encoder.fit_transform(merged_card_data['merchant'])
# merged_card_data['category'] = encoder.fit_transform(merged_card_data['category'])
# merged_card_data['gender'] = encoder.fit_transform(merged_card_data['gender'])
# merged_card_data['job'] = encoder.fit_transform(merged_card_data['job'])
# merged_card_data['dob'] = encoder.fit_transform(merged_card_data['dob'])
# merged_card_data['location'] = encoder.fit_transform(merged_card_data['location'])
# merged_card_data['lat_long'] = encoder.fit_transform(merged_card_data['lat_long'])
# merged_card_data['merchant_lat_long'] = encoder.fit_transform(merged_card_data['merchant_lat_long'])

columns_to_encode = ['cc_num', 'merchant', 'category', 'gender', 'job', 'dob', 'location', 'lat_long', 'merchant_lat_long']

label_encoders = {col: LabelEncoder() for col in columns_to_encode}

# Apply label encoding to specified columns
for col in columns_to_encode:
    merged_card_data[col] = label_encoders[col].fit_transform(merged_card_data[col])

merged_card_data

,cc_num,merchant,category,amt,gender,job,dob,is_fraud,location,lat_long,merchant_lat_long
54045,149,376,10,7.62,1,68,477,0,172,88,424
184963,366,60,7,71.57,1,315,208,0,751,632,3358
139741,354,650,7,59.39,0,197,740,0,507,514,3084
6173,116,540,7,110.21,1,174,567,0,529,159,700
62953,161,642,3,38.00,0,19,638,0,526,667,3240
...,...,...,...,...,...,...,...,...,...,...,...
301402,655,315,10,51.86,0,29,613,1,409,250,1230
301528,192,621,12,1030.78,0,23,345,1,27,206,1031
301600,192,520,5,19.11,0,23,345,1,27,206,1112
301866,537,36,8,898.83,0,364,349,1,294,778,4202
301881,537,176,9,751.63,0,364,349,1,294,778,4108

### 6. Machine Learning

In [32]:
from sklearn.model_selection import train_test_split, StratifiedKFold

X = merged_card_data.drop(columns = 'is_fraud', axis = 1)
y = merged_card_data['is_fraud']

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, test_size=.2)

print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(3432, 10) (858, 10) (3432,) (858,)

In [34]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)
print(X.shape, X_train_scaled.shape, X_test_scaled.shape)

(4290, 10) (3432, 10) (858, 10)

### Logistic Regression

In [35]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import GridSearchCV

logistic_param_grid = {
    'penalty': ['l1', 'l2'],
    'C': np.logspace(-6, 6, 13),
    'solver': ['liblinear', 'saga']
}

# GridSearchCV for model using the full hyperparameter grid
logistic_grid_search = GridSearchCV(LogisticRegression(), param_grid=logistic_param_grid, cv=5, n_jobs=-1)

# Fit model using GridSearchCV
logistic_grid_search.fit(X_train_scaled, y_train)

print("Logistic Regression Best Parameters (GridSearchCV):", logistic_grid_search.best_params_)

logistic_cv_score = logistic_grid_search.best_score_
print(f"Logistic Regression Best Score: {round(logistic_cv_score * 100, 2)}")

# Logistic Regression Best Parameters (GridSearchCV): {'C': 0.01, 'penalty': 'l1', 'solver': 'saga'}
# Logistic Regression Best Score: 85.11

C:\Users\milanszilveszter\.conda\envs\ML_Projectwork\lib\site-packages\sklearn\model_selection\_search.py:307: UserWarning: The total space of parameters 52 is smaller than n_iter=100. Running 52 iterations. For exhaustive searches, use GridSearchCV.
  warnings.warn(

Logistic Regression Best Parameters (RandomizedSearchCV): {'solver': 'saga', 'penalty': 'l1', 'C': 0.01}
Logistic Regression Best Parameters (GridSearchCV): {'C': 0.01, 'penalty': 'l1', 'solver': 'saga'}
Logistic Regression Best Score: 85.11

### SVM

In [ ]:
from sklearn import svm

svm = svm.SVC()

svm_param_grid = {
    'C': [0.1, 1, 10, 100],
    'gamma': [0.01, 0.1, 1, 'scale', 'auto'],
    'kernel': ['linear', 'rbf', 'poly', 'sigmoid']
}

svm_grid_search = GridSearchCV(svm, param_grid=svm_param_grid, cv=5, n_jobs=-1)
svm_grid_search.fit(X_train_scaled, y_train)
print("SVM Best Parameters (GridSearchCV):", svm_grid_search.best_params_)

svm_cv_score = svm_grid_search.best_score_
print(f"SVM Best Score: {round(svm_cv_score * 100, 2)}")

# 2h 27m
# SVM Best Parameters (GridSearchCV): {'C': 100, 'gamma': 0.01, 'kernel': 'rbf'}
# SVM Best Score: 85.2

### Decision Tree

In [72]:
from sklearn.tree import DecisionTreeClassifier 

dt = DecisionTreeClassifier()

dt_param_grid = {
    'criterion': ['gini', 'entropy'],
    'max_depth': [None, 10, 20, 30, 40, 50],
    'min_samples_split': [2, 5, 10, 20],
    'min_samples_leaf': [1, 2, 5, 10],
    'max_features': [None, 'sqrt', 'log2']
}

dt_grid_search = GridSearchCV(dt, param_grid=dt_param_grid, cv=5, n_jobs=-1)
dt_grid_search.fit(X_train_scaled, y_train)
print("Decision Tree Best Parameters (GridSearchCV):", dt_grid_search.best_params_)

dt_cv_score = dt_grid_search.best_score_
print(f"Decision Tree Best Score: {round(dt_cv_score * 100, 2)}")

# SVM Best Parameters (GridSearchCV): {'criterion': 'entropy', 'max_depth': 40, 'max_features': None, 'min_samples_leaf': 5, 'min_samples_split': 20}
# SVM Best Score: 94.38

SVM Best Parameters (GridSearchCV): {'criterion': 'entropy', 'max_depth': 40, 'max_features': None, 'min_samples_leaf': 5, 'min_samples_split': 20}
SVM Best Score: 94.38

### Random Forest

In [42]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import StratifiedKFold

rf = RandomForestClassifier()

s_kfold = StratifiedKFold(n_splits=5, shuffle=True, random_state=42)

rf_param_grid = {
    'n_estimators': [100, 200, 300],
    'max_features': [None, 'sqrt', 'log2'], 
    'max_depth': [None, 10, 20, 30],  
    'min_samples_split': [2, 5, 10],  
    'min_samples_leaf': [1, 2, 4],  
    'bootstrap': [True, False]  
}

rf_grid_search = GridSearchCV(rf, param_grid=rf_param_grid, cv=s_kfold, n_jobs=-1)
rf_grid_search.fit(X_train_scaled, y_train)
print("Random Forest Best Parameters (GridSearchCV):", rf_grid_search.best_params_)

rf_cv_score = rf_grid_search.best_score_
print(f"Random Forest Best Score: {round(rf_cv_score * 100, 2)}")

# Random Forest Best Parameters (GridSearchCV): {'bootstrap': True, 'max_depth': 20, 'max_features': None, 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 300}
# Random Forest Best Score: 95.45

Random Forest Best Parameters (RandomizedSearchCV): {'n_estimators': 300, 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_features': None, 'max_depth': 10, 'bootstrap': True}
Random Forest Best Parameters (GridSearchCV): {'bootstrap': True, 'max_depth': 20, 'max_features': None, 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 300}
Random Forest Best Score: 95.45

In [70]:
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_estimators=100, random_state=42)

rf.fit(X_train_scaled, y_train)
print(f'Accuracy: {round(rf.score(X_test_scaled, y_test),2)*100} %')

Accuracy: 95.0 %

### KNN

In [44]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

knn_param_grid = {
    'n_neighbors': [3, 5, 7, 10, 15],
    'weights': ['uniform', 'distance'],
    'metric': ['euclidean', 'manhattan', 'chebyshev']
}

svm_grid_search = GridSearchCV(knn, param_grid=knn_param_grid, cv=5, n_jobs=-1)
svm_grid_search.fit(X_train_scaled, y_train)

print("KNN Best Parameters (GridSearchCV):", svm_grid_search.best_params_)

svm_cv_score = svm_grid_search.best_score_
print(f"KNN Best Score: {round(svm_cv_score * 100, 2)}")

KNN Best Parameters (GridSearchCV): {'metric': 'manhattan', 'n_neighbors': 15, 'weights': 'distance'}
KNN Best Score: 85.08

In [53]:
best_K_value = 0
best_score=0
for i in range(1,100):
    knn = KNeighborsClassifier(n_neighbors=i)
    knn.fit(X_train_scaled, y_train)

    score = knn.score(X_test_scaled, y_test)
    print(f"{i}. iteration accuracy: {round(score*100, 2)}%")

    if score > best_score:
        best_score = score
        best_K_value = i

print(f"\nBest KNN Value: {best_K_value}")
print(f"Accuracy: {round(best_score * 100, 2)}%")

1. iteration accuracy: 78.09%
2. iteration accuracy: 81.0%
3. iteration accuracy: 79.72%
4. iteration accuracy: 80.77%
5. iteration accuracy: 80.3%
6. iteration accuracy: 80.19%
7. iteration accuracy: 80.65%
8. iteration accuracy: 80.89%
9. iteration accuracy: 80.65%
10. iteration accuracy: 81.24%
11. iteration accuracy: 81.59%
12. iteration accuracy: 81.47%
13. iteration accuracy: 81.12%
14. iteration accuracy: 80.77%
15. iteration accuracy: 80.65%
16. iteration accuracy: 80.42%
17. iteration accuracy: 80.65%
18. iteration accuracy: 82.17%
19. iteration accuracy: 81.24%
20. iteration accuracy: 81.7%
21. iteration accuracy: 80.3%
22. iteration accuracy: 81.0%
23. iteration accuracy: 80.65%
24. iteration accuracy: 81.82%
25. iteration accuracy: 81.47%
26. iteration accuracy: 81.59%
27. iteration accuracy: 81.35%
28. iteration accuracy: 82.17%
29. iteration accuracy: 81.12%
30. iteration accuracy: 81.0%
31. iteration accuracy: 79.95%
32. iteration accuracy: 79.95%
33. iteration accuracy: 79.25%
34. iteration accuracy: 79.6%
35. iteration accuracy: 79.84%
36. iteration accuracy: 80.07%
37. iteration accuracy: 80.19%
38. iteration accuracy: 80.77%
39. iteration accuracy: 80.54%
40. iteration accuracy: 80.19%
41. iteration accuracy: 79.95%
42. iteration accuracy: 79.95%
43. iteration accuracy: 79.72%
44. iteration accuracy: 79.72%
45. iteration accuracy: 79.95%
46. iteration accuracy: 80.07%
47. iteration accuracy: 79.95%
48. iteration accuracy: 79.72%
49. iteration accuracy: 80.42%
50. iteration accuracy: 80.3%
51. iteration accuracy: 79.95%
52. iteration accuracy: 79.72%
53. iteration accuracy: 80.07%
54. iteration accuracy: 80.65%
55. iteration accuracy: 80.07%
56. iteration accuracy: 80.42%
57. iteration accuracy: 80.54%
58. iteration accuracy: 80.42%
59. iteration accuracy: 80.42%
60. iteration accuracy: 80.42%
61. iteration accuracy: 80.54%
62. iteration accuracy: 79.84%
63. iteration accuracy: 80.07%
64. iteration accuracy: 79.72%
65. iteration accuracy: 80.07%
66. iteration accuracy: 79.6%
67. iteration accuracy: 80.42%
68. iteration accuracy: 79.49%
69. iteration accuracy: 79.84%
70. iteration accuracy: 79.49%
71. iteration accuracy: 79.72%
72. iteration accuracy: 79.14%
73. iteration accuracy: 79.72%
74. iteration accuracy: 79.72%
75. iteration accuracy: 79.6%
76. iteration accuracy: 79.37%
77. iteration accuracy: 79.95%
78. iteration accuracy: 79.6%
79. iteration accuracy: 79.84%
80. iteration accuracy: 79.95%
81. iteration accuracy: 79.95%
82. iteration accuracy: 80.07%
83. iteration accuracy: 80.19%
84. iteration accuracy: 79.84%
85. iteration accuracy: 80.19%
86. iteration accuracy: 79.25%
87. iteration accuracy: 79.72%
88. iteration accuracy: 79.25%
89. iteration accuracy: 79.49%
90. iteration accuracy: 79.49%
91. iteration accuracy: 80.07%
92. iteration accuracy: 79.72%
93. iteration accuracy: 80.19%
94. iteration accuracy: 79.6%
95. iteration accuracy: 79.49%
96. iteration accuracy: 79.14%
97. iteration accuracy: 79.6%
98. iteration accuracy: 79.49%
99. iteration accuracy: 79.49%

Best KNN Value: 18
Accuracy: 82.17%

### Naive Bayes

In [74]:
from sklearn.naive_bayes import GaussianNB

nb = GaussianNB()

nb_param_grid = {
    'var_smoothing': np.logspace(0, -9, num=100)
}

nb_grid_search = GridSearchCV(nb, param_grid=nb_param_grid, cv=s_kfold, n_jobs=-1)
nb_grid_search.fit(X_train_scaled, y_train)
print("Naive Bayes Best Parameters (GridSearchCV):", nb_grid_search.best_params_)

nb_cv_score = nb_grid_search.best_score_
print(f"Naive Bayes Best Score: {round(nb_cv_score * 100, 2)}")

Naive Bayes Best Parameters (GridSearchCV): {'var_smoothing': 5.336699231206313e-06}
Naive Bayes Best Score: 84.41